@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 17% 98%;
    --foreground: 215 45% 23%;
 
    --primary: 208 95% 61%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 231 77% 54%;
    --secondary-foreground: 0 0% 100%;
 
    --accent: 215 45% 23%;
    --accent-foreground: 0 0% 100%;
 
    --muted: 220 17% 98%;
    --muted-foreground: 215 45% 23%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 215 45% 23%;
 
    --card: 0 0% 100%;
    --card-foreground: 215 45% 23%;
 
    --border: 220 17% 98%;
    --input: 220 17% 98%;
 
    --ring: 208 95% 61%;
  }
 
  .dark {
    --background: 215 45% 23%;
    --foreground: 220 17% 98%;
 
    --muted: 208 95% 61%;
    --muted-foreground: 215 45% 23%;
 
    --popover: 215 45% 23%;
    --popover-foreground: 220 17% 98%;
 
    --card: 215 45% 23%;
    --card-foreground: 220 17% 98%;
 
    --border: 208 95% 61%;
    --input: 208 95% 61%;
 
    --primary: 220 17% 98%;
    --primary-foreground: 208 95% 61%;
 
    --secondary: 208 95% 61%;
    --secondary-foreground: 220 17% 98%;
 
    --accent: 208 95% 61%;
    --accent-foreground: 220 17% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 208 95% 61%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-text {
  background: linear-gradient(45deg, #3eabfa, #3552e1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
